@import url(https://fonts.googleapis.com/css?family=Khula:700);
body {
  background: rgb(20, 20, 20);
}
.hidden {
  opacity:0;
}
.console-container {
 
  font-family:Khula;
  font-size:4em;
  text-align:center;
  height:200px;
  width:600px;
  display:block;
  position:absolute;
  color:white;
  top:7%;
  bottom:70%;
  left:0;
  right:0;
  margin:auto;
}
.console-underscore {
   display:inline-block;
  position:relative;
  top:auto;
  left:auto;
}
* { margin: auto; }

.content {
    height: 1000px;
    min-width: 1000px;
    padding: 1px;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;

  }
  ::-webkit-scrollbar-thumb {
    border-radius: auto;
    background: white;
  }


