@import url(https://fonts.googleapis.com/css?family=Khula:700);
body {
  background: rgb(24, 23, 23);
}
.hidden {
  opacity:0;
}
/*
Content of website
*/
.projects {
  font-family:Khula;
  font-size:2.5em;
  text-align:center;
  height:200px;
  width:600px;
  display:block;
  position:absolute;
  color:white;
  top:37%;
  bottom:70%;
  left:0;
  right:0;
  margin:auto;


}
.console-container {
 
  font-family:Khula;
  font-size:4em;
  text-align:center;
  height:200px;
  width:600px;
  display:block;
  position:absolute;
  color:white;
  top:7%;
  bottom:70%;
  left:0;
  right:0;
  margin:auto;
}
.console-underscore {
  display:inline-block;
  position:relative;
  top:auto;
  left:auto;
}
* { margin: auto; }

.content {
    height: 1000px;
    min-width: 1000px;
    padding: 1px;
}
::-webkit-scrollbar {
    width: auto;
    height: auto;

  }
  ::-webkit-scrollbar-thumb {
    border-radius: auto;
    background: rgb(194, 62, 62);
  }
  .fade1 {
    margin: 50px;
    padding: 50px;
    background-color: rgb(255, 255, 255);
    opacity: 1;
    position: relative;
    display: block;
    top:-700px;
    bottom:0%;
    width: 500px;
    text-align: center;
    align-content: center;

  }
